:root {
    --body-padding: 3rem;
    --l-body-padding: 10%;
    --xl-body-padding: 20%;

    --h1-size: 3rem;
    --h2-size: 2rem;

    --background-color: #ffffff;
    --font-color: #192427;
    --main-color: hsl(106, 48%, 84%);
    --selection-color: hsl(105, 48%, 90%);

    --paragraph-line-height: 1.5rem;
    --profile-picture-size: 10rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #192427;
        --font-color: #eeeeee;
        --main-color: hsl(116, 20%, 40%);
        --selection-color: hsl(115, 20%, 80%);
    }
}

::selection {
    background: var(--selection-color);
}

::-moz-selection {
    background: var(--selection-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
}

body {
    padding: var(--body-padding);
    background-color: var(--background-color);
}

@media screen and (min-width: 992px) {
    body {
        padding-left: var(--l-body-padding);
        padding-right: var(--l-body-padding);
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-left: var(--xl-body-padding);
        padding-right: var(--xl-body-padding);
    }
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

p {
    line-height: var(--paragraph-line-height);
}

/* --- LINKS --- */

a>* {
    /* Treat everything inside a link as an inline element */
    display: inline;
}

a {
    text-decoration: none;
    font-weight: 700;

    /* Highlighted effect */
    background-image: linear-gradient(to right, var(--main-color), var(--main-color));
    background-size: 100% 0.5rem;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

/* --- HOMEPAGE --- */

#homepage-header {
    margin-bottom: calc(var(--h1-size) * 2);
    text-align: center;
}

#homepage-profile-picture {
    height: var(--profile-picture-size);
    width: var(--profile-picture-size);
    border-radius: 50%;
    margin-bottom: 1rem;
}

#homepage-title {
    margin-bottom: 1rem;
}

#homepage-subtitle {
    font-style: italic;
    font-weight: lighter;
}

/* --- PREVIEWS --- */

#posts-previews {
    list-style: none;
}

#posts-previews .post-preview:not(:last-child) {
    margin-bottom: var(--h1-size);
}

/* --- TAGS --- */

.post-tags {
    display: inline;
    list-style: none;
    line-height: var(--paragraph-line-height);
}

.post-tag {
    display: inline;
    background-color: var(--main-color);
    font-size: 0.9rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}


/* --- POSTS --- */

.post-title {
    margin-left: -100%;
    margin-right: -100%;
    margin-bottom: var(--h1-size);
    margin-top: -100%;

    padding-bottom: calc(var(--h1-size) / 2);
    padding-top: calc(100% + var(--h2-size));
    padding-left: 100%;
    padding-right: 100%;

    background-color: var(--main-color);
}

.post-title::selection {
    background: var(--background-color);
}

.post-title::-moz-selection {
    background: var(--background-color);
}

.post-subtitle {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5rem;
}

.post-date {
    font-style: italic;
}

.post-preview-abstract,
.post-body {
    text-align: justify;
}

.post-body {
    margin-top: var(--h2-size);
}