#posts {
    list-style: none;
}

#posts .post:not(:last-child) {
    margin-bottom: var(--h1-size);
}

/* Tag pills */

.tags {
    display: inline;
    margin-left: 1rem;
    list-style: none;
}

.tags li {
    display: inline;
}

.tag {
    display: inline-block;
    background-color: var(--main-color);
    font-size: 0.9rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}


/* Post styling */

.post .heading {
    text-align: left;
}

.post .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.post .date {
    font-style: italic;
}

.post .description,
.post .content {
    text-align: justify;
}

.post #heading {
    margin-bottom: var(--h1-size);
    margin-top: var(--h2-size);
}