name: Preview

on:
  push:
    branches:
      - "preview/*"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: setup beam
        uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: "26.0.2"
          gleam-version: "0.32.0"
          rebar3-version: "3"
          elixir-version: "1.15"
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: install js dependencies
        run: npm ci
      - name: build
        run: gleam run -m build
      - name: push to site branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: site-preview
          FOLDER: site
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "{msg}"
